<?xml version="1.0"?>

<launch>

  <include file="$(find slam3d)/launch/data_registration.launch" />
  <include file="$(find slam3d)/launch/lidar_odometry.launch" />

  <arg name="rviz" default="true" />

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find slam3d)/rviz/dev_test.rviz" />
  </group>

</launch>
