<?xml version="1.0"?>

<launch>

  <arg name="rviz" default="true" />

  <node pkg="slam3d" type="data_registration" name="data_registration" output="screen">
    <param name="lidar" value="VLP-16" />
  </node>

  <node pkg="loam_velodyne" type="laserOdometry" name="laserOdometry" output="screen" respawn="true">
    <remap from="/laser_cloud_sharp" to="/edge_points_sharp"/>
    <remap from="/laser_cloud_less_sharp" to="/edge_points_less_sharp"/>
    <remap from="/laser_cloud_flat" to="/planar_points_flat"/>
    <remap from="/laser_cloud_less_flat" to="/planar_points_less_flat"/>
  </node>

  <node pkg="loam_velodyne" type="laserMapping" name="laserMapping" output="screen"/>
  <node pkg="loam_velodyne" type="transformMaintenance" name="transformMaintenance" output="screen"/>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find slam3d)/rviz/test.rviz" />
  </group>

</launch>
